<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key><string>Qeli Per-App Network Extension</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key><string>SYSX</string>
    <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>NSSystemExtensionUsageDescription</key>
    <string>Qeli uses this extension to route only the applications selected in a VPN profile.</string>
    <key>NetworkExtension</key>
    <dict>
        <key>NEProviderClasses</key>
        <dict>
            <key>com.apple.networkextension.app-proxy</key>
            <string>$(PRODUCT_MODULE_NAME).TransparentProxyProvider</string>
            <key>com.apple.networkextension.dns-proxy</key>
            <string>$(PRODUCT_MODULE_NAME).DNSProxyProvider</string>
        </dict>
    </dict>
</dict>
</plist>
